.card__image {
height: 413px;
width: 413px;
object-fit: cover;
display: block;
border-radius: 8px;
margin-bottom: 12px;
}

.card__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__like-button {
    background-image: url("../images/like-btn.svg");
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.4;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: opacity 150ms ease;
}

.card__like-button:hover {
    opacity: 1;
}


.card__title {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    font-family: Poppins, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 353px;
    
}

@media screen and (max-width: 627px) {
.card {
margin: 0;
}  

.card__title {
    max-width: 235px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__image {
    width: 288px;
    height: 288px;
    object-fit: cover;
    display: block;
}
}
