@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css); 
@import url(../blocks/profile.css);
@import url(../blocks/content.css);
@import url(../blocks/cards.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);
body {
  font-family: Poppins, sans-serif;
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid #212121;
  outline-offset: 2px;
}


